@import "../../styles/variable";

.weui-badge {
  display: inline-block;
  padding: 0.15em 0.4em;
  min-width: 8px;
  border-radius: 18px;
  background-color: @weuiColorWarn;
  color: #fff; // 固定色值
  line-height: 1.2;
  text-align: center;
  font-size: 12px;
  vertical-align: middle;
}

.weui-badge_dot {
  padding: 0.4em;
  min-width: 0;
}

@media (prefers-color-scheme: dark) {
  .weui-badge {
    background-color: @weuiColorWarnDark;
  }
}
