span {
    color: red;
}

.scroll-view-y {
    width: 100%;
    height: 125px;
}

.block {
    width: 100%;
    height: 50px;
}

.block1 {
    background: #dff0d8;
}

.block2 {
    background: #f5f5f5;
}

.block3 {
    background: #d9edf7;
}

.block4 {
    background: #fcf8e3;
}

.block5 {
    background: #f2dede;
}

button {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #ddd;
}
