.cnt {
  margin: 15px;
}

.block {
  border: 1px solid #ddd;
  padding: 15px;
  box-sizing: content-box;
  display: block;
  margin-bottom: 15px;
}

.btn {
  margin-top: 15px;
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  border: 1px solid #ddd;
}
